body {
    background-color: #fff;
}

hr {
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px 0;
}

/* 검색박스 */
.product-search-box {
    margin-top: 30px;
    margin-bottom: 35px;
    width: 100%; /* 부모에 맞게 너비 조절 */
    display: flex;
    justify-content: center; /* 가운데 정렬 */
}

.search-box-input {
    width: 335px;
    height: 38px;
    border: 1px solid #1EC4CC;
    border-radius: 8px;
    padding: 5px;
}

/* ======================= */
/* ====== 상품 목록 정렬 ====== */
/* ======================= */

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 15px 0;
    background-color: #fff;
}
.product-info .image-box {
  width: 190px;
  height: 190px;
}

.product-info .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.product-info-left {
  width: 450px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-info-left-detail {
  height: 100px;
}
.product-info-left-detail-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info-left-detail-details .text-trim {
  height: 120px;
}

.product-info-left-pdate-and-nickname {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.product-info-left-pdate-and-nickname .created-date {
  margin-right: 15px;
}

.price-and-order-date {
  height: 120px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.price h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.price div {
    font-size: 24px;
    margin-left: 5px;
    font-weight: normal;
}
.product-info-right-detail {
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info-right-detail div {
    color: #555;
    margin-bottom: 2px;
}

.btn-group {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btn-group .btn {
    padding: 8px 15px;
    background: #1EC4CC !important;
    color: white;
    border: 1px solid #0099AD;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-group .btn:hover {
    background-color: #0056b3 !important;
}
.btn-group .btn.delete-btn {
  background-color: #FFF !important;
  color: #000 !important;
  border: 1px solid #B2B2B2;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.pagination a {
    text-decoration: none;
    color: #FFF;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s;
}

.pagination a.active {
    background-color: #0099AD;
    color: white;
    border-color: #0099AD;
}

.pagination a:hover {
    background-color: #e9ecef;
}

.text-trim {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}